/* 
    Application: BiFrost
    Document   : _bf.css
    Created on : 27-Oct-2011, 21:37:22
    Author     : Paul Whitrow
    Description: main CSS
*/

._bf_me
{
/*    main place holder */
}

._bf_state
{
    height:35px !important;
    width:100px !important;

    margin:0px !important;
    padding:0px !important;

    background:#1D1D1D url(../images/wait-grey-mini.gif) center center no-repeat !important;
/*    
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #343434), color-stop(80%, #343434), color-stop(100%, #313131)) !important;
    background-image: -webkit-linear-gradient(top, #343434 0%,#343434 80%,#313131 100%) !important;
    background-image: linear-gradient(top, #343434 0%,#343434 80%,#313131 100%) !important;
*/
    -webkit-box-shadow: 0px 2px 7px rgba(50, 50, 50, 0.54) !important;
    -moz-box-shadow:    0px 2px 7px rgba(50, 50, 50, 0.54) !important;
    box-shadow:         0px 2px 7px rgba(50, 50, 50, 0.54) !important;

    -webkit-border-bottom-right-radius: 10px !important;
    -webkit-border-bottom-left-radius: 10px !important;
    -moz-border-radius-bottomright: 10px !important;
    -moz-border-radius-bottomleft: 10px !important;
    border-bottom-right-radius: 10px !important;
    border-bottom-left-radius: 10px !important;
    
    z-index:1000 !important;
}

._bf_dashright_panel
{
    -webkit-box-shadow:inset 0px 1px 1px #151617 !important;
    -moz-box-shadow:inset 0px 1px 1px #151617 !important;
    border: none !important;
    border-bottom: 1px solid #494e50 !important;
    background: #2b2e31 !important;
    font:normal 14px Helvitica, Arial, sans-serif !important;
    color: #9fa4a8 !important;
    text-shadow: 1px 1px 1px #1B1B1B !important;

    position:absolute !important;
    top:0px !important;
    right:0px !important;
    bottom:0px !important;
    width:150px !important;
}

._bf_topleft
{
    position:fixed !important;
    top:-2px !important;
    left:30px !important;
}

._bf_topright
{
    position:fixed !important;
    top:-2px !important;
    right:30px !important;
}

._bf_state_closed
{
    background:#222 !important;
}

._bf_state_overlay
{
    position:relative !important;
    text-align: center !important;
    background:transparent url(../images/overlay.png) 0 0 repeat !important;
    display:none !important;
    z-index:1 !important;
    left:0px !important;
}

._bf_state_overlay_msg
{
    position:relative !important;
    top:30% !important;
    margin: auto auto auto auto !important;
    text-align:center !important;
    color: #eeeeee !important;
    font:bold 12px Helvetica, Arial, sans-serif !important;
}

._bf_state_actions
{
    background:transparent url(../images/state_bg.png) 0 0 repeat !important;
    margin:0px !important;
    padding:0px 0px 0px 0px !important;
    text-align: right !important;
    position:absolute !important;
    bottom:0px !important;
    right:0px !important;
    left:0px !important;
    height:39px !important;
    display:block !important;
    list-style:none !important;
    -webkit-border-bottom-right-radius: 10px !important;
    -webkit-border-bottom-left-radius: 10px !important;
    -moz-border-radius-bottomright: 10px !important;
    -moz-border-radius-bottomleft: 10px !important;
    border-bottom-right-radius: 10px !important;
    border-bottom-left-radius: 10px !important;
    border-top: 1px solid #2D2D2D !important;
}

._bf_state_action
{
    color: #eee !important;
    text-shadow: -1px -1px 1px #0D0D0D !important;
    
    background-color: #383d40 !important;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#585f63), to(#383d40)) !important;
    background-image: -webkit-linear-gradient(top, #585f63, #383d40) !important;
    background-image: -moz-linear-gradient(top, #585f63, #383d40) !important;
    background-image: -ms-linear-gradient(top, #585f63, #383d40) !important;
    background-image: -o-linear-gradient(top, #585f63, #383d40) !important;
    background-image: linear-gradient(top, #585f63, #383d40) !important;

    border:1px solid #25282a !important;

    -moz-border-radius: 4px !important;
    -webkit-border-radius: 4px !important;
    border-radius: 4px !important;

     -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset !important;
     -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset !important;
     box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset !important;

    height: 22px !important;
    padding: 7px 10px 0px 10px !important;
    cursor: pointer !important;
    font: bold 12px Helvetica, Arial, sans-serif !important;
    margin:3px 5px 0px 5px !important;
    text-align:center !important;
    clear:both !important;
    display: inline-block !important;
    
    
    width:auto !important;
}

._bf_force_button_pos
{
    position:absolute !important;
    right:0px !important;
    left:0px !important;    
}

._bf_state_action:hover,
._bf_state_action:focus
{
    color: #fff !important;
    background-color: #383d40 !important;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#383d40), to(#585f63)) !important;
    background-image: -webkit-linear-gradient(top, #383d40, #585f63) !important;
    background-image: -moz-linear-gradient(top, #383d40, #585f63) !important;
    background-image: -ms-linear-gradient(top, #383d40, #585f63) !important;
    background-image: -o-linear-gradient(top, #383d40, #585f63) !important;
    background-image: linear-gradient(top, #383d40, #585f63) !important;
}

/*
FORMS
*/

._bf_state_form
{
    background: url("../images/dashbg.png") repeat scroll 0 0 #454545 !important;
    bottom: 40px !important;
    color: #555555 !important;
    display: none !important;
    left: 0 !important;
    margin: 0 auto !important;
    position: absolute !important;
    right: 0 !important;
    text-shadow: 0 2px 3px #000000 !important;
    top: 0 !important;
    padding:20px !important;
}

._bf_form_row
{
    position:relative !important;
    float:left !important;
    clear:both !important;
}

._bf_form_label
{
    float:left !important;
    clear:both !important;
    display: block !important;
    padding: 0px 0px 5px 0px !important;
    margin: 0px !important;
    color: #A6A6A6 !important;
    text-shadow: 1px 1px 1px #1B1B1B !important;
    font:normal 14px Helvitica, Arial, sans-serif !important;
    line-height: 30px !important;
}

._bf_input 
{
    resize: none !important;
    float:left !important;
    clear:both !important;
    width: 200px !important;
    padding: 5px 5px 7px 30px !important;
    margin: 0px 0px 10px 0px !important;
    width: 232px !important; 
    -moz-border-radius: 5px !important;
    -webkit-border-radius: 5px !important;
    -webkit-box-shadow:inset 0px 1px 1px #151617 !important;
    -moz-box-shadow:inset 0px 1px 1px #151617 !important;
    border-radius: 5px !important;
    border: none !important;
    border-bottom: 1px solid #494e50 !important;
    background: #2b2e31 url(../images/form-sprite.png) no-repeat !important;
    font:normal 14px Helvitica, Arial, sans-serif !important;
    color: #9fa4a8 !important;
    text-shadow: 1px 1px 1px #1B1B1B !important;
}

._bf_placeholder
{
    color:#aaa !important;
}

._bf_validation_error
{
    background-color: #662828 !important;
}

._bf_register_gname,
._bf_register_fname
{
    background-position: 5px 4px !important;
}

._bf_input_email,
._bf_input_newemail,
._bf_input_confirmemail
{
    background-position: 5px -64px !important;
}

._bf_input_password,
._bf_input_password2
{
    background-position: 5px -31px !important;
}

._bf_input_tags,
._bf_input_newtag
{
    background-position: 5px -98px !important;
}

._bf_input_title
{
    background-position: 5px -777px !important;
}

._bf_itemreviews_header.stick,
._bf_itemdiscussions_header.stick
{
    position:fixed !important;
    top:0px !important;
    z-index:10000 !important;
    -webkit-border-radius:0px 0px 10px 10px !important;
    -moz-border-radius:0px 0px 10px 10px !important;
    border-radius:0px 0px 10px 10px !important;
    box-shadow:0px 3px 3px rgba(0,0,0,0.2) !important;
    background-color:#fff !important;
}

._bf_review_submit,
._bf_discuss_submit,
._bf_comment_submit
{
    bottom: -35px !important;
    left: 20px !important;
    position: absolute !important;    
}

._bf_review_content
{
    background-position: 5px -137px !important;
    height:152px !important;
}

._bf_discuss_content,
._bf_comment_content
{
    background-position: 5px -476px !important;
    height:205px !important;
}

._bf_button
{
    color: #fff !important;
    background-color: #205885 !important;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#4689db), to(#205885)) !important;
    background-image: -webkit-linear-gradient(top, #4689db, #205885) !important;
    background-image: -moz-linear-gradient(top, #4689db, #205885) !important;
    background-image: -ms-linear-gradient(top, #4689db, #205885) !important;
    background-image: -o-linear-gradient(top, #4689db, #205885) !important;
    background-image: linear-gradient(top, #4689db, #205885) !important;

    -moz-border-radius: 4px !important;
    -webkit-border-radius: 4px !important;
    border-radius: 4px !important;

    text-shadow: -1px -1px 1px #204b73 !important;

     -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset !important;
     -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset !important;
     box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset !important;

    border:1px solid #25282a !important;

    position:relative !important;
    float: left !important;
    height: 22px !important;
    padding: 7px 0px 0px 0px !important;
    width: 120px !important;
    cursor: pointer !important;
    font: bold 11px Helvetica, Arial, sans-serif !important;
    color: #fff !important;
    margin:10px 0px 0px 0px !important;
    text-align:center !important;
    clear:both !important;
}

._bf_button:hover,
._bf_button:focus
{
    background-color: #4689db !important;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#205885), to(#4689db)) !important;
    background-image: -webkit-linear-gradient(top, #205885, #4689db) !important;
    background-image: -moz-linear-gradient(top, #205885, #4689db) !important;
    background-image: -ms-linear-gradient(top, #205885, #4689db) !important;
    background-image: -o-linear-gradient(top, #205885, #4689db) !important;
    background-image: linear-gradient(top, #205885, #4689db) !important;
}

._bf_button._bf_button_silver
{
    text-shadow: 0 0 0 transparent, 0 1px 0 #FFFFFF !important;
    border:1px solid #999 !important;
    color:#555 !important;
    background:#f6f6f6 !important;
    background-image:-moz-linear-gradient(top,#ffffff,#efefef) !important;
    background-image:-webkit-gradient(linear,left top,left bottom,from(#ffffff),to(#efefef)) !important;
    filter:progid:DXImageTransform.Microsoft.Gradient(startColorStr=#ffffff,endColorStr=#efefef) !important;
    -moz-border-radius:3px !important;
    -webkit-border-radius:3px !important;
    border-radius:3px !important;
    white-space:nowrap !important;
    vertical-align:middle !important;
    cursor:pointer !important;
    overflow:visible
    -moz-box-shadow:0 0 3px #999 !important;
    -webkit-box-shadow:0 0 3px #999 !important;
    box-shadow:0 0 3px #999 !important;    
}
._bf_button._bf_button_silver:hover
{
    border:1px solid #999 !important;
    background:#f3f3f3 !important;
    background-image:-moz-linear-gradient(top,#ffffff,#ebebeb) !important;
    background-image:-webkit-gradient(linear,left top,left bottom,from(#ffffff),to(#ebebeb)) !important;
    filter:progid:DXImageTransform.Microsoft.Gradient(startColorStr=#ffffff,endColorStr=#ebebeb) !important;
    outline:0 !important;
}

._bf_register_form ._bf_button
{
    margin-top: 20px !important;
}

._bf_forgottenpassword_form ._bf_button
{
}

._bf_login_store,
._bf_tandc
{
    font:normal 10px Helvetica, Arial, sans-serif !important;
    color:#999 !important;
    width:266px !important;
    float:left !important;
}

._bf_register_terms,
._bf_login_storeemail
{
    float:left !important;
    width:20px !important;
    background:none !important;
    border:none !important;
    margin: 3px 0px 0px 0px !important;
}

._bf_login_label,
._bf_register_label
{
    position:relative !important;
    top:3px !important;
    left:5px !important;
    padding:0px 0px 0px 10px !important;
    background:transparent url(../images/arrow.png) 0px -19px no-repeat !important;
}

._bf_tandc
{
    margin-top:10px !important;
}

._bf_tandc a
{
    font:normal 10px Helvetica, Arial, sans-serif !important;
    color:#bbb !important;
    float:none !important;
    clear:both !important;
}

._bf_tandc a:hover
{
    color: #fff !important;
}

._bf_register_terms
{
}

._bf_forgottenpassword_msg
{
    float:left !important;
    font:normal 11px Helvetica, Arial, sans-serif !important;
    color: #999 !important;
    width:266px !important;
    margin:10px 0px 10px 0px !important;
}

/*
FORM LINKS
*/
._bf_form_links
{
    position:absolute !important;
    list-style: none !important;
    margin: 0 !important;
    padding: 0 !important;
    left:160px !important;
}

._bf_form_links li
{
    background:transparent url(../images/arrow.png) 0px 3px no-repeat !important;
    padding-left:10px !important;
}

._bf_login_links
{
    top:107px !important;
}

._bf_register_links
{
    top:274px !important;
}

._bf_forgottenpassword_links
{
    top:114px !important;
}

._bf_form_link
{
    font:normal 12px Helvetica, Arial, sans-serif !important;
    color: #999 !important;
    margin: 0px 0px 7px 0px !important;
    padding: 0 !important;
    cursor: pointer !important;
}

._bf_form_link:hover
{
    color:#bbb !important;
}

/*
AUTHENTICATORS
*/
._bf_social_authenticators
{
    position:absolute !important;
    top:65px !important;
    left:70px !important;
    list-style:none !important;
}

._bf_social_authenticator
{
    float:left !important;
    clear:both !important;
    width:160px !important;
    height:40px !important;
    margin:0px 0px 10px 0px !important;
    cursor:pointer !important;
    background:transparent url(../images/socials.png) 0 0 no-repeat !important;
    color:#C4C4C4 !important;
    text-shadow: 1px 1px 1px #141414 !important;
    font:bold 12px arial !important;
    padding:0px 0px 0px 72px !important;
    line-height: 40px !important;
}

._bf_social_authenticator:hover
{
    color:#fff !important;
    text-shadow: 1px 1px 1px #444 !important;
}

._bf_social_facebook
{
    background-position: 0px -50px !important;
}
._bf_social_google
{
    background-position: 0px -16px !important;
}
._bf_social_twitter
{
    background-position: 0px -7px !important;
}
._bf_social_openid
{
    background-position: 0px -48px !important;
}
._bf_social_linkedin
{
    background-position: 0px -95px !important;
}

._bf_login_fb,
._bf_login_tw
{
    position: absolute !important;    
    width:auto !important;
    z-index:1 !important;
    display:none !important;
    right:7px !important;
    top:20px !important;
    background:transparent url(../images/socials.png) 0 -181px no-repeat !important;
    width:100px !important;
    height:24px !important;
    color:#C4C4C4 !important;
    text-shadow: 1px 1px 1px #141414 !important;
    font:bold 12px arial !important;
    padding:0px 0px 0px 42px !important;
    line-height: 24px !important;
    cursor:pointer !important;
}
._bf_login_fb:hover
{
    background-position:-159px -181px !important;
    color:#fff !important;
}

._bf_fb_linkpost
{
    position:absolute !important;
    bottom: 22px !important;
    left: 150px !important;
}

.fb_post_review
{
    float: left !important;
    margin-top: 5px !important;    
}

.fb_post_label
{
    color: #888888 !important;
    font-family: arial !important;
    font-size: 11px !important;    
}

a.fb_button
{
    display:none !important;
}

._bf_login_tw
{
    background-position:0 -154px !important;
    top:50px !important;
}
._bf_login_tw:hover
{
    background-position:-159px -154px !important;
    color:#fff !important;
}


/*
DASHBOARD
*/
._bf_dashboard
{
    position:absolute !important;
    top:0px !important;
    left:0px !important;
    right: 0px !important;
    bottom:40px !important;
    margin: 0 auto !important;
    color: #555 !important;
    text-shadow: 0px 2px 3px #171717 !important;
}

._bf_dashboard form
{
    bottom: 0px !important;
    left: 135px !important;
    position: absolute !important;
    right: 0 !important;
    top: 0 !important;    
    background:transparent url(../images/form_bg.png) 0 0 repeat !important;
    padding:40px !important;
}

._bf_dashboard_actions
{
    text-shadow: 0px 2px 3px #171717 !important;
    position:absolute !important;
    left:0px !important;
    top:1px !important;
    bottom:-40px !important;
    width:137px !important;
    list-style:none !important;
    padding:0px !important;
    margin:0px !important;
    border: none !important;
    -moz-box-shadow: 0px 0px 8px #232323 !important;
    -webkit-box-shadow: 0px 0px 8px #232323 !important;
    box-shadow: 0px 0px 8px #232323 !important;
    z-index:10 !important;
    background: url("../images/dashbg.png") 0 0 #454545 repeat !important;
    border-bottom-left-radius: 10px !important;
}

._bf_dashboard_actions .last 
{
    border-bottom-left-radius: 10px !important;
}

._bf_dashboard_action
{
    font:normal 12px Helvetica, Arial, sans-serif !important;
    color: #999 !important;    
    text-shadow: 1px 1px 1px #171717 !important;
    padding:10px 10px 10px 18px !important;
    background:transparent !important;
    cursor:pointer !important;
    border-bottom: 1px solid #343434 !important;
    border-top: 1px solid #444444 !important;
    height:28.5px !important;
    line-height:28px !important;
}

._bf_dashboard_action:hover,
._bf_dashboard_action.active_action
{
    background:#373737 !important;
    color:#fff !important;
    border-top:1px solid transparent !important;
    text-shadow: 0px 2px 3px #171717 !important;
     -moz-box-shadow: 0px 0px 8px #232323 inset !important;
     -webkit-box-shadow: 0px 0px 8px #232323 inset !important;
     box-shadow: 0px 0px 8px #232323 inset !important;
}

._bf_dashboard_action.active_action
{
    background: url("../images/dash-button-tip.png") right center #373737 no-repeat !important;    
}

._bf_changeemail_text
{
    float:left !important;
    clear:both !important;
    width:280px !important;
    margin-top:30px !important;
    font:normal 12px Helvetica, Arial, sans-serif !important;
    color:#999 !important;
}

._bf_dashboard_avatar
{
    -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 1) !important;
    -moz-box-shadow:    1px 1px 3px rgba(0, 0, 0, 1) !important;
    box-shadow:         1px 1px 3px rgba(0, 0, 0, 1) !important;
    
    -moz-border-radius: 5px !important;
    -webkit-border-radius: 5px !important;
    border-radius: 5px !important;
    
    background:#ccc !important;
    
    position:absolute !important;
    top:95px !important;
    left:163px !important;
}

._bf_newavatar_holder
{
    position:absolute !important;
    top:208px !important;
    left:162px !important;
}

._bf_newavatar_holder input
{
    position:absolute !important;
    top:-1000px !important;
    left:0px !important;
}

._bf_newavatar_holder object
{
    position:absolute !important;
    top:0px !important;
    left:0px !important;
}

._bf_newfile_holder .uploadifyQueueItem 
{
    position:absolute !important;
    top:50px !important;
    left:0px !important;
    font: 11px Helvetica, Arial, sans-serif !important;
    width: 200px !important;
    color: #888 !important;
    text-shadow:none !important;
}
._bf_newfile_holder .uploadifyError 
{
    color: #cc0000 !important;
    background: none !important;
    border: none !important;
}
._bf_newfile_holder .uploadifyQueueItem .cancel 
{
    float: right !important;
}
._bf_newfile_holder .uploadifyQueue .completed 
{
    margin-top:10px !important;
}

._bf_newfile_holder .uploadifyProgress 
{
    background-color: #888 !important;
    margin-top: 15px !important;
    width: 100% !important;
}
._bf_newfile_holder .uploadifyProgressBar 
{
    background-color: #444 !important;
    height: 10px !important;
    width: 1px !important;
}
._bf_newfile_holder .uploadifyQueueItem .fileName
{
    text-align:left !important;
    float:left !important;
}

._bf_newfile_holder .uploadifyQueue
{
    left: -250px !important;
    position: absolute !important;
    top: 80px !important;
    z-index: 10 !important;
}

._bf_newfile_holder .uploadifyQueueItem
{
    width:200px !important;
}

._bf_newfile_holder .uploadifyQueueItem .fileName
{
    position:absolute !important;
    top:50px !important;
    left:0px !important;
}

/*
POST REVIEW
*/
._bf_review_form ._bf_input
{
    width:350px !important;
}

._bf_review_tags
{
    width:218px !important;
}

._bf_multi_tags
{
    position:absolute !important;
    left:284px !important;
    top:224px !important;
    list-style:none !important;
}

._bf_multiselect_holder
{
    position: absolute !important;
    right:-30px !important;
    top:-218px !important;
    width:auto !important;
    width: 300px !important;
    height:342px !important;
    margin: 0px !important;
    padding: 0px !important;
    background:#454545 url(../images/dashbg.png) 0 0 repeat !important;
    border:5px solid #666 !important;
    -webkit-box-shadow: 0px 2px 7px rgba(20, 20, 20, 0.8) !important;
    -moz-box-shadow:    0px 2px 7px rgba(20, 20, 20, 0.8) !important;
    box-shadow:         0px 2px 7px rgba(20, 20, 20, 0.8) !important;
    -webkit-border-radius: 5px !important;
    -moz-border-radius: 5px !important;
    border-radius: 5px !important;
    z-index:1 !important;
}

._bf_multiselect_items_holder
{
    overflow:auto !important;
    position: absolute !important;
    top:52px !important;
    left:0px !important;
    right:0px !important;
    bottom:50px !important;
}

._bf_multiselect_items
{
    list-style:none !important;
    margin:0px 0px 0px 0px !important;
    padding:0px !important;
}

._bf_multiselect_item
{
    margin:0px 0px 0px 0px !important;
    padding:3px 7px 3px 7px !important;
    font: normal 12px Helvetica, Arial, sans-serif !important;
    color: #999 !important;
    background:transparent !important;
}

._bf_multiselect_item:hover
{
    background: #2B2E31 !important;
    color:#eee !important;
}

._bf_multiselect_item_label
{
    margin:0px 0px 0px 0px !important;
    padding:0px 0px 0px 0px !important;
    position: relative !important;
    left:10px !important;
    top:-2px !important;
}

._bf_multiselect_item_new
{
    position:fixed !important;
    margin:0px 0px 0px 0px !important;
    padding-top:10px !important;
    padding-left:10px !important;
    z-index:1 !important;
    width:289px !important;
    -webkit-box-shadow: 0px 2px 7px rgba(20, 20, 20, 0.8) !important;
    -moz-box-shadow:    0px 2px 7px rgba(20, 20, 20, 0.8) !important;
    box-shadow:         0px 2px 7px rgba(20, 20, 20, 0.8) !important;
}

._bf_input_newtag_done
{
    position:absolute !important;
    bottom: 0px !important;
    left: 0px !important;
    right:0px !important;
    height:50px !important;
    -webkit-box-shadow: 0px -2px 7px rgba(20, 20, 20, 0.8) !important;
    -moz-box-shadow:    0px -2px 7px rgba(20, 20, 20, 0.8) !important;
    box-shadow:         0px -2px 7px rgba(20, 20, 20, 0.8) !important;
}

._bf_input_newtag_done_button
{
    position:absolute !important;
    bottom: 7px !important;
    left: 10px !important;
}

._bf_input_newtag
{
    width:160px !important;
}

._bf_input_newtag_label
{
}

._bf_input_newtag_add
{
    position: absolute !important;
    right: -68px !important;
    top: -11px !important;
    width: 56px !important;
}

._bf_review_rating_set
{
    left: 20px !important;
    position: absolute !important;
    top: 301px !important;}

._bf_rater_prompt
{
    position:absolute !important;
    bottom:23px !important;
    font: normal 12px Helvetica, Arial, sans-serif !important;
    color: #999 !important;
}

._bf_newfile_holder
{
    position:absolute !important;
    top:5px !important;
    left:14px !important;
}

._bf_newfile_holder input
{
    position:absolute !important;
    top:-1000px !important;
    left:0px !important;
}

._bf_newfile_holder object
{
    position:absolute !important;
    top:0px !important;
    left:0px !important;
}

._bf_review_file_thumb
{
    -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 2) !important;
    -moz-box-shadow:    1px 1px 3px rgba(0, 0, 0, 2) !important;
    box-shadow:         1px 1px 3px rgba(0, 0, 0, 2) !important;

    -moz-border-radius: 20px !important;
    -webkit-border-radius: 20px !important;
    border-radius: 20px !important;
    
    border:2px solid #fff !important;

    float:left !important;
    margin:10px 4px 0px 2px !important;
    cursor:pointer !important;
}

._bf_review_file_thumb_actions
{
    position:absolute !important;
    bottom:12px !important;
    left:230px !important;
    list-style: none !important;
    margin:0px !important;
    padding:0px !important;
}

._bf_review_file_thumb_action
{
    font: normal 15px Helvetica, Arial, sans-serif !important;
    color: #aaa !important;
    cursor:pointer !important;
    display:inline !important;
    float:left !important;
    margin:0px 10px 0px 10px !important;
    padding:0px !important;
}

._bf_review_file_thumb_action:hover
{
    color:#fff !important;
}

._bf_review_filestack
{
    position:absolute !important;
    top:65px !important;
    left:14px !important;
    width:120px !important;
    font: normal 11px Helvetica, Arial, sans-serif !important;
    color: #999 !important;
    word-wrap: break-word !important;
}

._bf_review_img_preview
{
    -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 2) !important;
    -moz-box-shadow:    1px 1px 3px rgba(0, 0, 0, 2) !important;
    box-shadow:         1px 1px 3px rgba(0, 0, 0, 2) !important;

    border:2px solid #aaa !important;
    -moz-border-radius: 5px !important;
    -webkit-border-radius: 5px !important;
    border-radius: 5px !important;
    
    margin: 0px auto 0px auto !important;
    position: relative !important;
    max-width:70% !important;
    max-height:70% !important;
    cursor: default !important;
}

/*
POST DISCUSSION, COMMENT FORM
*/

._bf_discuss_form,
._bf_comment_form
{
}

._bf_discuss_form ._bf_input,
._bf_comment_form ._bf_input
{
    width:482px !important;
}

/*
Dashboard Show Reviews etc
*/
._bf_empty_dashboard
{
    bottom: 0px !important;
    color: #888888 !important;
    font: 12px arial !important;
    left: 137px !important;
    padding: 100px 20px 20px !important;
    text-align: center !important;
    text-shadow: 1px 1px 1px #FFFFFF !important;
    top: 2px !important;
    width: 423px !important;
}

._bf_userreviews,
._bf_userdiscussions,
._bf_usercomments,
._bf_userwatches
{
    background: url("../images/lightbg.png") 0 0 #F7F7F7 repeat !important;
    bottom: 0px !important;
    overflow: auto !important;
    overflow-x: hidden !important;
    padding: 0 !important;
    margin:0px !important;
    position: absolute !important;
    right: 0 !important;
    top: 0px !important;
    width: 463px !important;
    list-style:none !important;
}

._bf_userreviews_item,
._bf_userdiscussions_item,
._bf_usercomments_item,
._bf_userwatches_item
{
    padding:5px 20px 10px 0px !important;
    margin:0px 0px 0px 0px !important;
    font: normal 12px Helvetica, Arial, sans-serif !important;
    color: #888 !important;
    text-shadow:1px 1px 1px #fff !important;
    border-top: 1px solid #F9F9F9 !important;
    border-bottom:1px solid #CDCDCD !important;
    float:left !important;
    position: relative !important;
    clear: both !important;
    width:443px !important;
}

._bf_userreviews_item:hover,
._bf_userdiscussions_item:hover,
._bf_usercomments_item:hover,
._bf_userwatches_item:hover
{
    border-top: 1px solid #eee !important;
    border-bottom: 1px solid #eee !important;
    background-color:#E8E8E8 !important;
}

._bf_userreviews_item_title,
._bf_userdiscussions_item_synopsis,
._bf_usercomments_content,
._bf_userwatches_content
{
    font: bold 12px Helvetica, Arial, sans-serif !important;
    color: #555 !important;
    padding:5px 0px 5px 30px !important;
    margin:0px 0px 0px 0px !important;
    font-size:14px !important;
    float:left !important;
    clear: both !important;
    text-decoration: none !important;
    background: transparent url(../images/form-sprite.png) no-repeat !important;
    background-position: 5px -136px !important;
}

._bf_userwatches_content
{
    padding-right:45px !important;
}

._bf_userwatches_control
{
    color: #888888 !important;
    cursor: pointer !important;
    font-size: 10px !important;
    font-weight: normal !important;
    position: absolute !important;
    right: 20px !important;
    top: 10px !important;
}

._bf_userwatches_type,
._bf_userwatches_url
{
    color: #888888 !important;
    font-size: 11px !important;
    font-weight: normal !important;
    margin:5px 0px 0px 0px !important;
}

._bf_userwatches_control:hover
{
    color:#444 !important;
}

._bf_userreviews_item_synopsis
{
    margin-left: 30px !important;
}

._bf_userwatches_content
{
    background-position: 5px -802px !important;    
}

._bf_userdiscussions_item_title
{
    background-position: 5px -476px !important;
}

._bf_userdiscussions_item_synopsis
{
    background-position: 5px -476px !important;
}

._bf_usercomments_content
{
    background-position: 5px -476px !important;
}

._bf_userreviews_item_title:hover,
._bf_userdiscussions_item_title:hover
{
    color: #333 !important;
}

._bf_userreviews_item_synopsis,
._bf_userdiscussions_item_synopsis,
._bf_usercomments_content
{
    font-size:11px !important;
    float:left !important;
    clear: both !important;
}

._bf_userreviews_item_posted,
._bf_userdiscussions_item_posted,
._bf_usercomments_posted
{
    padding:5px 0px 5px 0px !important;
    margin:0px 0px 0px 30px !important;
    font-size:10px !important;
    float:left !important;
    clear: both !important;
}

._bf_powered_by
{
    color: #BCBCBC !important;
    font: 10px arial !important;
    position: relative !important;
    right: 10px !important;
    text-align: right !important;
    top: 40px !important;
}
._bf_powered_by a
{
    color:#bbb !important;
}
._bf_powered_by a:hover
{
    color:#999 !important;
}

