/* 
    Application: BiFrost
    Document   : _bf.css
    Created on : 27-Oct-2011, 21:37:22
    Author     : Paul Whitrow
    Description: main CSS
*/

._bf_me
{
/*    main place holder */
}

._bf_state
{
    height:35px;
    width:100px;

    margin:0px;
    padding:0px;

    background:#1D1D1D url(../images/wait-grey-mini.gif) center center no-repeat;
/*    
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #343434), color-stop(80%, #343434), color-stop(100%, #313131));
    background-image: -webkit-linear-gradient(top, #343434 0%,#343434 80%,#313131 100%);
    background-image: linear-gradient(top, #343434 0%,#343434 80%,#313131 100%);
*/
    -webkit-box-shadow: 0px 2px 7px rgba(50, 50, 50, 0.54);
    -moz-box-shadow:    0px 2px 7px rgba(50, 50, 50, 0.54);
    box-shadow:         0px 2px 7px rgba(50, 50, 50, 0.54);

    -webkit-border-bottom-right-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-bottomright: 10px;
    -moz-border-radius-bottomleft: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    
    z-index:1000;
}

._bf_dashright_panel
{
    -webkit-box-shadow:inset 0px 1px 1px #151617;
    -moz-box-shadow:inset 0px 1px 1px #151617;
    border: none;
    border-bottom: 1px solid #494e50;
    background: #2b2e31;
    font:normal 14px Helvitica, Arial, sans-serif;
    color: #9fa4a8;
    text-shadow: 1px 1px 1px #1B1B1B;

    position:absolute;
    top:0px;
    right:0px;
    bottom:0px;
    width:150px;
}

._bf_topleft
{
    position:fixed;
    top:-2px;
    left:30px;
}

._bf_topright
{
    position:fixed;
    top:-2px;
    right:30px;
}

._bf_state_closed
{
    background:#222;
}

._bf_state_overlay
{
    text-align: center;
    background:transparent url(../images/overlay.png) 0 0 repeat !important;
    display:none;
    z-index:1;
}

._bf_state_overlay_msg
{
    position:relative;
    top:30%;
    margin: auto auto auto auto;
    text-align:center;
    color: #eeeeee;
    font:bold 12px Helvetica, Arial, sans-serif;
}

._bf_state_actions
{
    background:transparent url(../images/state_bg.png) 0 0 repeat;
    margin:0px;
    padding:0px 0px 0px 0px;
    text-align: right;
    position:absolute;
    bottom:0px;
    right:0px;
    left:0px;
    height:39px;
    display:block;
    list-style:none;
    -webkit-border-bottom-right-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-bottomright: 10px;
    -moz-border-radius-bottomleft: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top: 1px solid #2D2D2D;
}

._bf_state_action
{
    color: #eee;
    text-shadow: -1px -1px 1px #0D0D0D;
    
    background-color: #383d40;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#585f63), to(#383d40));
    background-image: -webkit-linear-gradient(top, #585f63, #383d40);
    background-image: -moz-linear-gradient(top, #585f63, #383d40);
    background-image: -ms-linear-gradient(top, #585f63, #383d40);
    background-image: -o-linear-gradient(top, #585f63, #383d40);
    background-image: linear-gradient(top, #585f63, #383d40);

    border:1px solid #25282a;

    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;

     -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
     -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
     box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;

    height: 22px;
    padding: 7px 10px 0px 10px !important;
    cursor: pointer;
    font: bold 12px Helvetica, Arial, sans-serif;
    margin:3px 5px 0px 5px !important;
    text-align:center;
    clear:both;
    display: inline-block;
    
    
    width:auto !important;
}

._bf_force_button_pos
{
    position:absolute !important;
    right:0px !important;
    left:0px !important;    
}

._bf_state_action:hover,
._bf_state_action:focus
{
    color: #fff;
    background-color: #383d40;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#383d40), to(#585f63));
    background-image: -webkit-linear-gradient(top, #383d40, #585f63);
    background-image: -moz-linear-gradient(top, #383d40, #585f63);
    background-image: -ms-linear-gradient(top, #383d40, #585f63);
    background-image: -o-linear-gradient(top, #383d40, #585f63);
    background-image: linear-gradient(top, #383d40, #585f63);
}

/*
FORMS
*/

._bf_state_form
{
    background: url("../images/dashbg.png") repeat scroll 0 0 #454545;
    bottom: 40px;
    color: #555555;
    display: none;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    text-shadow: 0 2px 3px #000000;
    top: 0;
    padding:20px;
}

._bf_form_row
{
    position:relative;
    float:left;
    clear:both;
}

._bf_form_label
{
    float:left;
    clear:both;
    display: block;
    padding: 0px 0px 5px 0px;
    margin: 0px;
    color: #A6A6A6;
    text-shadow: 1px 1px 1px #1B1B1B;
    font:normal 14px Helvitica, Arial, sans-serif;
    line-height: 30px;
}

._bf_input 
{
    resize: none;
    float:left;
    clear:both;
    width: 200px;
    padding: 5px 5px 7px 30px;
    margin: 0px 0px 10px 0px;
    width: 232px; 
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -webkit-box-shadow:inset 0px 1px 1px #151617;
    -moz-box-shadow:inset 0px 1px 1px #151617;
    border-radius: 5px;
    border: none;
    border-bottom: 1px solid #494e50;
    background: #2b2e31 url(../images/form-sprite.png) no-repeat;
    font:normal 14px Helvitica, Arial, sans-serif;
    color: #9fa4a8;
    text-shadow: 1px 1px 1px #1B1B1B;
}

._bf_placeholder
{
    color:#aaa;
}

._bf_validation_error
{
    background-color: #662828;
}

._bf_register_gname,
._bf_register_fname
{
    background-position: 5px 4px !important;
}

._bf_input_email,
._bf_input_newemail,
._bf_input_confirmemail
{
    background-position: 5px -64px !important;
}

._bf_input_password,
._bf_input_password2
{
    background-position: 5px -31px !important;
}

._bf_input_tags,
._bf_input_newtag
{
    background-position: 5px -98px !important;
}

._bf_input_title
{
    background-position: 5px -777px !important;
}

._bf_itemreviews_header.stick,
._bf_itemdiscussions_header.stick
{
    position:fixed !important;
    top:0px !important;
    z-index:10000 !important;
    -webkit-border-radius:0px 0px 10px 10px;
    -moz-border-radius:0px 0px 10px 10px;
    border-radius:0px 0px 10px 10px;
    box-shadow:0px 3px 3px rgba(0,0,0,0.2);
    background-color:#fff;
}

._bf_review_submit,
._bf_discuss_submit,
._bf_comment_submit
{
    bottom: -35px;
    left: 20px;
    position: absolute !important;    
}

._bf_review_content
{
    background-position: 5px -137px !important;
    height:152px;
}

._bf_discuss_content,
._bf_comment_content
{
    background-position: 5px -476px !important;
    height:205px;
}

._bf_button
{
    color: #fff;
    background-color: #205885;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#4689db), to(#205885));
    background-image: -webkit-linear-gradient(top, #4689db, #205885);
    background-image: -moz-linear-gradient(top, #4689db, #205885);
    background-image: -ms-linear-gradient(top, #4689db, #205885);
    background-image: -o-linear-gradient(top, #4689db, #205885);
    background-image: linear-gradient(top, #4689db, #205885);

    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;

    text-shadow: -1px -1px 1px #204b73;

     -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
     -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
     box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;

    border:1px solid #25282a;

    position:relative;
    float: left;
    height: 22px;
    padding: 7px 0px 0px 0px;
    width: 120px;
    cursor: pointer;
    font: bold 11px Helvetica, Arial, sans-serif;
    color: #fff;
    margin:10px 0px 0px 0px;
    text-align:center;
    clear:both;
}

._bf_button:hover,
._bf_button:focus
{
    background-color: #4689db;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#205885), to(#4689db));
    background-image: -webkit-linear-gradient(top, #205885, #4689db);
    background-image: -moz-linear-gradient(top, #205885, #4689db);
    background-image: -ms-linear-gradient(top, #205885, #4689db);
    background-image: -o-linear-gradient(top, #205885, #4689db);
    background-image: linear-gradient(top, #205885, #4689db);
}

._bf_button._bf_button_silver
{
    text-shadow: 0 0 0 transparent, 0 1px 0 #FFFFFF;
    border:1px solid #999;
    color:#555;
    background:#f6f6f6;
    background-image:-moz-linear-gradient(top,#ffffff,#efefef);
    background-image:-webkit-gradient(linear,left top,left bottom,from(#ffffff),to(#efefef));
    filter:progid:DXImageTransform.Microsoft.Gradient(startColorStr=#ffffff,endColorStr=#efefef);
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
    white-space:nowrap;
    vertical-align:middle;
    cursor:pointer;
    overflow:visible
    -moz-box-shadow:0 0 3px #999;
    -webkit-box-shadow:0 0 3px #999;
    box-shadow:0 0 3px #999;    
}
._bf_button._bf_button_silver:hover
{
    border:1px solid #999;
    background:#f3f3f3;
    background-image:-moz-linear-gradient(top,#ffffff,#ebebeb);
    background-image:-webkit-gradient(linear,left top,left bottom,from(#ffffff),to(#ebebeb));
    filter:progid:DXImageTransform.Microsoft.Gradient(startColorStr=#ffffff,endColorStr=#ebebeb);
    outline:0;
}

._bf_register_form ._bf_button
{
    margin-top: 20px;
}

._bf_forgottenpassword_form ._bf_button
{
}

._bf_login_store,
._bf_tandc
{
    font:normal 10px Helvetica, Arial, sans-serif;
    color:#999;
    width:266px;
    float:left;
}

._bf_register_terms,
._bf_login_storeemail
{
    float:left;
    width:20px;
    background:none;
    border:none;
    margin: 3px 0px 0px 0px;
}

._bf_login_label,
._bf_register_label
{
    position:relative;
    top:3px;
    left:5px;
    padding:0px 0px 0px 10px;
    background:transparent url(../images/arrow.png) 0px -19px no-repeat;
}

._bf_tandc
{
    margin-top:10px;
}

._bf_tandc a
{
    font:normal 10px Helvetica, Arial, sans-serif !important;
    color:#bbb;
    float:none !important;
    clear:both;
}

._bf_tandc a:hover
{
    color: #fff;
}

._bf_register_terms
{
}

._bf_forgottenpassword_msg
{
    float:left;
    font:normal 11px Helvetica, Arial, sans-serif;
    color: #999;
    width:266px;
    margin:10px 0px 10px 0px;
}

/*
FORM LINKS
*/
._bf_form_links
{
    position:absolute;
    list-style: none;
    margin: 0;
    padding: 0;
    left:160px;
}

._bf_form_links li
{
    background:transparent url(../images/arrow.png) 0px 3px no-repeat;
    padding-left:10px;
}

._bf_login_links
{
    top:107px;
}

._bf_register_links
{
    top:274px;
}

._bf_forgottenpassword_links
{
    top:114px;
}

._bf_form_link
{
    font:normal 12px Helvetica, Arial, sans-serif;
    color: #999;
    margin: 0px 0px 7px 0px;
    padding: 0;
    cursor: pointer;
}

._bf_form_link:hover
{
    color:#bbb;
}

/*
AUTHENTICATORS
*/
._bf_social_authenticators
{
    position:absolute;
    top:65px;
    left:70px;
    list-style:none;
}

._bf_social_authenticator
{
    float:left;
    clear:both;
    width:160px;
    height:40px;
    margin:0px 0px 10px 0px;
    cursor:pointer;
    background:transparent url(../images/socials.png) 0 0 no-repeat;
    color:#C4C4C4;
    text-shadow: 1px 1px 1px #141414;
    font:bold 12px arial;
    padding:0px 0px 0px 72px;
    line-height: 40px;
}

._bf_social_authenticator:hover
{
    color:#fff;
    text-shadow: 1px 1px 1px #444;
}

._bf_social_facebook
{
    background-position: 0px -50px;
}
._bf_social_google
{
    background-position: 0px -16px;
}
._bf_social_twitter
{
    background-position: 0px -7px;
}
._bf_social_openid
{
    background-position: 0px -48px;
}
._bf_social_linkedin
{
    background-position: 0px -95px;
}

._bf_login_fb,
._bf_login_tw
{
    position: absolute;    
    width:auto;
    z-index:1;
    display:none;
    right:7px;
    top:20px;
    background:transparent url(../images/socials.png) 0 -181px no-repeat;
    width:100px;
    height:24px;
    color:#C4C4C4;
    text-shadow: 1px 1px 1px #141414;
    font:bold 12px arial;
    padding:0px 0px 0px 42px;
    line-height: 24px;
    cursor:pointer;
}
._bf_login_fb:hover
{
    background-position:-159px -181px;
    color:#fff;
}

._bf_fb_linkpost
{
    position:absolute;
    bottom: 22px;
    left: 150px;
}

.fb_post_review
{
    float: left;
    margin-top: 5px;    
}

.fb_post_label
{
    color: #888888;
    font-family: arial;
    font-size: 11px;    
}

a.fb_button
{
    display:none;
}

._bf_login_tw
{
    background-position:0 -154px;
    top:50px;
}
._bf_login_tw:hover
{
    background-position:-159px -154px;
    color:#fff;
}


/*
DASHBOARD
*/
._bf_dashboard
{
    position:absolute;
    top:0px;
    left:0px;
    right: 0px;
    bottom:40px;
    margin: 0 auto;
    color: #555;
    text-shadow: 0px 2px 3px #171717;
}

._bf_dashboard form
{
    bottom: 0px;
    left: 135px;
    position: absolute;
    right: 0;
    top: 0;    
    background:transparent url(../images/form_bg.png) 0 0 repeat;
    padding:40px;
}

._bf_dashboard_actions
{
    text-shadow: 0px 2px 3px #171717;
    position:absolute;
    left:0px;
    top:1px;
    bottom:-40px;
    width:137px;
    list-style:none;
    padding:0px;
    margin:0px;
    border: none;
    -moz-box-shadow: 0px 0px 8px #232323;
    -webkit-box-shadow: 0px 0px 8px #232323;
    box-shadow: 0px 0px 8px #232323;
    z-index:10;
    background: url("../images/dashbg.png") 0 0 #454545 repeat;
    border-bottom-left-radius: 10px;
}

._bf_dashboard_actions .last 
{
    border-bottom-left-radius: 10px;
}

._bf_dashboard_action
{
    font:normal 12px Helvetica, Arial, sans-serif;
    color: #999;    
    text-shadow: 1px 1px 1px #171717;
    padding:10px 10px 10px 18px;
    background:transparent;
    cursor:pointer;
    border-bottom: 1px solid #343434;
    border-top: 1px solid #444444;
    height:28.5px;
    line-height:28px;
}

._bf_dashboard_action:hover,
._bf_dashboard_action.active_action
{
    background:#373737;
    color:#fff;
    border-top:1px solid transparent;
    text-shadow: 0px 2px 3px #171717;
     -moz-box-shadow: 0px 0px 8px #232323 inset;
     -webkit-box-shadow: 0px 0px 8px #232323 inset;
     box-shadow: 0px 0px 8px #232323 inset;
}

._bf_dashboard_action.active_action
{
    background: url("../images/dash-button-tip.png") right center #373737 no-repeat;    
}

._bf_changeemail_text
{
    float:left;
    clear:both;
    width:280px;
    margin-top:30px;
    font:normal 12px Helvetica, Arial, sans-serif;
    color:#999;
}

._bf_dashboard_avatar
{
    -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 1);
    -moz-box-shadow:    1px 1px 3px rgba(0, 0, 0, 1);
    box-shadow:         1px 1px 3px rgba(0, 0, 0, 1);
    
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    
    background:#ccc;
    
    position:absolute;
    top:95px;
    left:163px;
}

._bf_newavatar_holder
{
    position:absolute;
    top:208px;
    left:162px;
}

._bf_newavatar_holder input
{
    position:absolute;
    top:-1000px;
    left:0px;
}

._bf_newavatar_holder object
{
    position:absolute;
    top:0px;
    left:0px;
}

.uploadifyQueueItem 
{
    position:absolute;
    top:50px;
    left:0px;
    font: 11px Helvetica, Arial, sans-serif;
    width: 200px;
    color: #778D9C;
    text-shadow: 1px 1px 1px #000;
}
.uploadifyError 
{
    background-color: #FDE5DD !important;
    border: 2px solid #FBCBBC !important;
}
.uploadifyQueueItem .cancel 
{
    float: right;
}
.uploadifyQueue .completed 
{
    margin-top:10px;
}

.uploadifyProgress 
{
    background-color: #555;
    margin-top: 20px;
    width: 100%;
}
.uploadifyProgressBar 
{
    background-color: #0099FF;
    height: 3px;
    width: 1px;
}
.uploadifyQueueItem .fileName
{
    text-align:left !important;
    float:left;
}

/*
POST REVIEW
*/
._bf_review_form ._bf_input
{
    width:350px;
}

._bf_review_tags
{
    width:218px !important;
}

._bf_multi_tags
{
    position:absolute;
    left:284px;
    top:224px;
    list-style:none;
}

._bf_multiselect_holder
{
    position: absolute;
    right:-30px;
    top:-218px;
    width:auto;
    width: 300px;
    height:342px;
    margin: 0px;
    padding: 0px;
    background:#454545 url(../images/dashbg.png) 0 0 repeat;
    border:5px solid #666;
    -webkit-box-shadow: 0px 2px 7px rgba(20, 20, 20, 0.8);
    -moz-box-shadow:    0px 2px 7px rgba(20, 20, 20, 0.8);
    box-shadow:         0px 2px 7px rgba(20, 20, 20, 0.8);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    z-index:1;
}

._bf_multiselect_items_holder
{
    overflow:auto;
    position: absolute;
    top:52px;
    left:0px;
    right:0px;
    bottom:50px;
}

._bf_multiselect_items
{
    list-style:none;
    margin:0px 0px 0px 0px;
    padding:0px;
}

._bf_multiselect_item
{
    margin:0px 0px 0px 0px;
    padding:3px 7px 3px 7px;
    font: normal 12px Helvetica, Arial, sans-serif;
    color: #999;
    background:transparent;
}

._bf_multiselect_item:hover
{
    background: #2B2E31;
    color:#eee;
}

._bf_multiselect_item_label
{
    margin:0px 0px 0px 0px;
    padding:0px 0px 0px 0px;
    position: relative;
    left:10px;
    top:-2px;
}

._bf_multiselect_item_new
{
    position:fixed;
    margin:0px 0px 0px 0px;
    padding-top:10px;
    padding-left:10px;
    z-index:1;
    width:289px;
    -webkit-box-shadow: 0px 2px 7px rgba(20, 20, 20, 0.8);
    -moz-box-shadow:    0px 2px 7px rgba(20, 20, 20, 0.8);
    box-shadow:         0px 2px 7px rgba(20, 20, 20, 0.8);
}

._bf_input_newtag_done
{
    position:absolute;
    bottom: 0px;
    left: 0px;
    right:0px;
    height:50px;
    -webkit-box-shadow: 0px -2px 7px rgba(20, 20, 20, 0.8);
    -moz-box-shadow:    0px -2px 7px rgba(20, 20, 20, 0.8);
    box-shadow:         0px -2px 7px rgba(20, 20, 20, 0.8);
}

._bf_input_newtag_done_button
{
    position:absolute;
    bottom: 7px;
    left: 10px;
}

._bf_input_newtag
{
    width:160px !important;
}

._bf_input_newtag_label
{
}

._bf_input_newtag_add
{
    position: absolute;
    right: -68px;
    top: -11px;
    width: 56px !important;
}

._bf_review_rating_set
{
    left: 20px;
    position: absolute;
    top: 301px;}

._bf_rater_prompt
{
    position:absolute;
    bottom:23px;
    font: normal 12px Helvetica, Arial, sans-serif;
    color: #999;
}

._bf_newfile_holder
{
    position:absolute;
    top:5px;
    left:14px;
}

._bf_newfile_holder input
{
    position:absolute;
    top:-1000px;
    left:0px;
}

._bf_newfile_holder object
{
    position:absolute;
    top:0px;
    left:0px;
}

._bf_newfile_holder .uploadifyQueue
{

}

._bf_newfile_holder .uploadifyQueueItem
{
    width:122px;
    top:219px;
}

._bf_newfile_holder .uploadifyQueueItem .fileName
{
    position:absolute;
    top:30px;
    left:0px;
}

.uploadifyError
{
    color: #cc0000;
    background: none !important;
    border: none !important;
}

._bf_review_file_thumb
{
    -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 2);
    -moz-box-shadow:    1px 1px 3px rgba(0, 0, 0, 2);
    box-shadow:         1px 1px 3px rgba(0, 0, 0, 2);

    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    
    border:2px solid #fff;

    float:left;
    margin:10px 4px 0px 2px;
    cursor:pointer;
}

._bf_review_file_thumb_actions
{
    position:absolute;
    bottom:12px;
    left:230px;
    list-style: none;
    margin:0px;
    padding:0px;
}

._bf_review_file_thumb_action
{
    font: normal 15px Helvetica, Arial, sans-serif;
    color: #aaa;
    cursor:pointer;
    display:inline;
    float:left;
    margin:0px 10px 0px 10px;
    padding:0px;
}

._bf_review_file_thumb_action:hover
{
    color:#fff;
}

._bf_review_filestack
{
    position:absolute;
    top:65px;
    left:14px;
    width:120px;
    font: normal 11px Helvetica, Arial, sans-serif;
    color: #999;
    word-wrap: break-word;
}

._bf_review_img_preview
{
    -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 2);
    -moz-box-shadow:    1px 1px 3px rgba(0, 0, 0, 2);
    box-shadow:         1px 1px 3px rgba(0, 0, 0, 2);

    border:2px solid #aaa;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    
    margin: 0px auto 0px auto;
    position: relative;
    top: -120px;
    max-width:70%;
    max-height:70%;
    cursor: default;
}

/*
POST DISCUSSION, COMMENT FORM
*/

._bf_discuss_form,
._bf_comment_form
{
}

._bf_discuss_form ._bf_input,
._bf_comment_form ._bf_input
{
    width:482px;
}

/*
Dashboard Show Reviews etc
*/
._bf_empty_dashboard
{
    bottom: 0px !important;
    color: #888888;
    font: 12px arial;
    left: 137px !important;
    padding: 100px 20px 20px !important;
    text-align: center;
    text-shadow: 1px 1px 1px #FFFFFF;
    top: 2px !important;
    width: 423px !important;
}

._bf_userreviews,
._bf_userdiscussions,
._bf_usercomments,
._bf_userwatches
{
    background: url("../images/lightbg.png") 0 0 #F7F7F7 repeat;
    bottom: 0px;
    overflow: auto;
    overflow-x: hidden;
    padding: 0;
    margin:0px;
    position: absolute;
    right: 0;
    top: 0px;
    width: 463px;
    list-style:none;
}

._bf_userreviews_item,
._bf_userdiscussions_item,
._bf_usercomments_item,
._bf_userwatches_item
{
    padding:5px 20px 10px 0px;
    margin:0px 0px 0px 0px;
    font: normal 12px Helvetica, Arial, sans-serif;
    color: #888;
    text-shadow:1px 1px 1px #fff;
    border-top: 1px solid #F9F9F9;
    border-bottom:1px solid #CDCDCD;
    float:left;
    position: relative;
    clear: both;
    width:443px;
}

._bf_userreviews_item:hover,
._bf_userdiscussions_item:hover,
._bf_usercomments_item:hover,
._bf_userwatches_item:hover
{
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    background-color:#E8E8E8;
}

._bf_userreviews_item_title,
._bf_userdiscussions_item_synopsis,
._bf_usercomments_content,
._bf_userwatches_content
{
    font: bold 12px Helvetica, Arial, sans-serif;
    color: #555;
    padding:5px 0px 5px 30px;
    margin:0px 0px 0px 0px;
    font-size:14px;
    float:left;
    clear: both;
    text-decoration: none;
    background: transparent url(../images/form-sprite.png) no-repeat;
    background-position: 5px -136px;
}

._bf_userwatches_control
{
    color: #888888;
    cursor: pointer;
    font-size: 10px;
    font-weight: normal;
    position: absolute;
    right: 20px;
    top: 10px;
}

._bf_userwatches_type,
._bf_userwatches_url
{
    color: #888888;
    font-size: 11px;
    font-weight: normal;
    margin:5px 0px 0px 0px !important;
}

._bf_userwatches_control:hover
{
    color:#444;
}

._bf_userreviews_item_synopsis
{
    margin-left: 30px;
}

._bf_userwatches_content
{
    background-position: 5px -802px !important;    
}

._bf_userdiscussions_item_title
{
    background-position: 5px -476px !important;
}

._bf_userdiscussions_item_synopsis
{
    background-position: 5px -476px !important;
}

._bf_usercomments_content
{
    background-position: 5px -476px !important;
}

._bf_userreviews_item_title:hover,
._bf_userdiscussions_item_title:hover
{
    color: #333;
}

._bf_userreviews_item_synopsis,
._bf_userdiscussions_item_synopsis,
._bf_usercomments_content
{
    font-size:11px;
    float:left;
    clear: both;
}

._bf_userreviews_item_posted,
._bf_userdiscussions_item_posted,
._bf_usercomments_posted
{
    padding:5px 0px 5px 0px;
    margin:0px 0px 0px 30px;
    font-size:10px;
    float:left;
    clear: both;
}

._bf_powered_by
{
    color: #BCBCBC;
    font: 10px arial;
    position: relative;
    right: 10px;
    text-align: right;
    top: 40px;
}
._bf_powered_by a
{
    color:#bbb;
}
._bf_powered_by a:hover
{
    color:#999;
}

