/* 
    Application: BiFrost
    Document   : _bf_items.css
    Created on : 24-Nov-2011, 19:04:58
    Author     : Paul Whitrow
    Description: BiFrost - On page items
*/

/*
ITEM REVIEWS, DISCUSSIONS & COMMENTS
*/

._bf_reviews,
._bf_discussions
{
    position:relative;
    left:0px;
    right:0px;
    clear:both;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

._bf_clear
{
    clear:both;
}

._bf_reviews_control,
._bf_discussions_control
{
    position:relative;
    float: left;
    padding: 10px;
    cursor:pointer;
    
}

._bf_itemreviews,
._bf_itemdiscussions
{
    list-style:none;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

._bf_reviews_fetching,
._bf_discussions_fetching
{
    font: bold 12px Helvetica, Arial, sans-serif;
    text-shadow: 0 2px 2px #eee;
    color:#888;
    background:transparent url(../images/wait.gif) 0px 0px no-repeat;
    height:40px;
    padding:4px 0px 0px 35px;
    float:left;
    margin-right:30px;
}

._bf_reviews_lazyloading
{
    background:transparent url(../images/wait.gif) center center no-repeat;
    text-shadow: 1px 1px 1px #fff;
    font:bold 16px arial;
    color:#888;
    height:70px;
    text-align:center;
}

._bf_items_paginator
{
    position:absolute;
    right:20px;
    top:17px;
    list-style:none;
    z-index:1;
}

._bf_items_pager,
._bf_items_pager_disabled
{
    display:inline;
    border-radius:2px;
    font-family:arial,sans-serif;
    font-size:11px;
    font-weight:bold;
    height:29px;
    line-height:27px;
    margin:0px 3px;
    min-width:54px;
    padding:8px;
    text-align:center
}
._bf_items_pager
{
    background-color:#f8f8f8;
    background-image:linear-gradient(top,#f8f8f8,#f1f1f1);
    background-image:-o-linear-gradient(top,#f8f8f8,#f1f1f1);
    border:1px solid #dcdcdc;
    border:1px solid rgba(0, 0, 0, 0.1);
    color:#666;
    cursor:pointer;
}

._bf_items_pager_disabled
{
    background-color:#f5f5f5;
    background-image:linear-gradient(top,#f5f5f5,#f1f1f1);
    background-image:-o-linear-gradient(top,#f5f5f5,#f1f1f1);
    border:1px solid #dedede;
    border:1px solid rgba(0, 0, 0, 0.1);
    border-radius:2px;
    color:#bbb;
    cursor:default;
}

._bf_items_pager:hover
{
    background-color:#fbfbfb;
    background-image:linear-gradient(top,#fbfbfb,#f1f1f1);
    background-image:-o-linear-gradient(top,#fbfbfb,#f1f1f1);
    border:1px solid #c6c6c6;
    box-shadow:0 1px 1px rgba(0,0,0,0.1);
    color:#333
}

._bf_itemreviews_item,
._bf_itemdiscussions_item
{
    position:relative;
    
    background: rgb(238,238,238); /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VlZWVlZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlMmUyZTIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  rgba(238,238,238,1) 0%, rgba(226,226,226,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(238,238,238,1)), color-stop(100%,rgba(226,226,226,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(226,226,226,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(226,226,226,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(226,226,226,1) 100%); /* IE10+ */
    background: linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(226,226,226,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#e2e2e2',GradientType=0 ); /* IE6-8 */
    
    -webkit-border-bottom-right-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-bottomright: 10px;
    -moz-border-radius-bottomleft: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;

    margin: 10px 0px 20px 0px;
    padding: 10px 10px 10px 10px;
    
    font: normal 12px Helvetica, Arial, sans-serif;
    text-shadow: 1px 1px 1px #FFFFFF;
}

._bf_itemdiscussions_item
{
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkZWUyZGUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(222,226,222,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(222,226,222,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(222,226,222,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(222,226,222,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(222,226,222,1) 100%); /* IE10+ */
    background: linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(222,226,222,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#dee2de',GradientType=0 ); /* IE6-8 */
}

._bf_no_reviews,
._bf_itemreviews_header,
._bf_no_discussions,
._bf_itemdiscussions_header
{
    position:relative;
    margin:0px 0px 0px 0px;
    padding:10px 10px 10px 10px;
    border-bottom:1px dotted #ccc;
    background: #f1f1f1;
    height:40px;
    box-shadow:0px 3px 3px rgba(0,0,0,0.05);
    color:#888;
    text-shadow:1px 1px 1px #fff;
    font-family: arial;
    font-size:20px;
}

._bf_reviews_control,
._bf_discussions_control
{
    font:normal 20px arial;
    color:#bbb;
    text-shadow: 1px 1px 1px #fff;
    margin:0px 0px 0px 0px;
    padding:10px 30px 10px 40px;
    border-right:1px dotted #ccc;
    background: #f1f1f1 url(../images/form-sprite.png) 10px -128px no-repeat;
}

._bf_discussions_control
{
   background-position: 10px -468px;
}

._bf_widget_control_subtxt
{
    color:#bbb;
    float:right;
    font-size:11px;
    margin:7px 0px 0px 10px;
    padding:0px 0px 0px 0px;
}

._bf_reviews_control.active,
._bf_discussions_control.active
{
    color:#888;
}

._bf_itemreviews_crumbs
{
    color: #bbb;
    font:italic 12px arial;
    left: 155px;
    position: absolute;
    text-shadow: 1px 1px 1px #FFFFFF;
    top: 0;
    z-index: 1;
}

._bf_itemreviews_crumbs a
{
    color:#888;
    text-decoration:none;
    border-bottom:1px dotted #888;
}

._bf_itemreviews_crumbs a:hover
{
    color:#444;
    border-bottom:1px dotted #444;
}
._bf_itemreviews_crumb_tag
{
    font:italic 12px arial;
    color:#666;
}
._bf_itemreviews_avg_rating
{
    float: left;
    position: relative;
    top: 2px;
}

._bf_itemreviews_avg_rating_text
{
   font-size:12px;
    color:#bbb;
    margin:0px 0px 0px 0px;
    padding:0px 0px 0px 0px;
    position:relative;
    left:-10px;
    top:-5px;
}

._bf_itemreviews_tags
{
    margin:10px 0px 0px 78px;
    padding:0px 10px 0px 10px;
    color:#666;
    font-size:11px;
    font-style:italic;
    font-family: Georgia;
    position:absolute;
    top:86px;
    left:25px;
}

._bf_itemreviews_tag_link
{
   color:#666;
   margin:0px 0px 0px 5px;
   padding:0px 0px 0px 0px;
   text-decoration:none;
   border-bottom: 1px dotted #666;
}

._bf_itemreviews_tag_link:hover
{
    color:#333;
}

._bf_itemreviews_item_title
{
    color:#888;
    font-family: Arial;
    font-size:18px;
    margin:30px 0px 45px 0px;
    padding:0px 0px 0px 0px;
}

._bf_itemreviews_item_synopsis
{
    font-family: Georgia;
    line-height:20px;
    color:#666;
    margin:10px 0px 40px 83px;
    padding:20px 20px 35px 20px;

    background: rgb(251,253,251); /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZiZmRmYiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlYWVlZTYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  rgba(251,253,251,1) 0%, rgba(234,238,230,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(251,253,251,1)), color-stop(100%,rgba(234,238,230,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(251,253,251,1) 0%,rgba(234,238,230,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(251,253,251,1) 0%,rgba(234,238,230,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(251,253,251,1) 0%,rgba(234,238,230,1) 100%); /* IE10+ */
    background: linear-gradient(top,  rgba(251,253,251,1) 0%,rgba(234,238,230,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbfdfb', endColorstr='#eaeee6',GradientType=0 ); /* IE6-8 */

    border:1px solid #aaa;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    box-shadow: 1px 1px 6px #aaa;
}

._bf_itemdiscussions_item_controls
{
    position:relative;
}

._bf_itemdiscussions_item_comment_holder
{
    position:relative;
    list-style:none;
    padding:0px;
    margin:0px;
}

._bf_itemdiscussions_item_comment
{
    position:relative;
    margin:0px 0px 20px 0px;
}

._bf_itemdiscussions_item_comment_content
{
    font-family: Georgia;
    line-height:18px;
    position: relative;
    width:64%;
    padding:20px 20px 30px 20px;
    border:1px solid #aaa;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    box-shadow: 1px 1px 6px #888888;
    color:#666;
    background: #fcfff4; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZjZmZmNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlOWU5Y2UiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #fcfff4 0%, #e9e9ce 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcfff4), color-stop(100%,#e9e9ce)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #fcfff4 0%,#e9e9ce 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #fcfff4 0%,#e9e9ce 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #fcfff4 0%,#e9e9ce 100%); /* IE10+ */
    background: linear-gradient(top,  #fcfff4 0%,#e9e9ce 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#e9e9ce',GradientType=0 ); /* IE6-8 */    
}

._bf_itemdiscussions_item_synopsis
{
    font-family: Georgia;
    line-height:18px;
    color:#666;
    margin:76px 0px 40px 0px;
    padding:20px 20px 30px 20px;

    background: rgb(242,245,246); /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2YyZjVmNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjM3JSIgc3RvcC1jb2xvcj0iI2UzZWFlZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjOGQ3ZGMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  rgba(242,245,246,1) 0%, rgba(227,234,237,1) 37%, rgba(200,215,220,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(242,245,246,1)), color-stop(37%,rgba(227,234,237,1)), color-stop(100%,rgba(200,215,220,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(242,245,246,1) 0%,rgba(227,234,237,1) 37%,rgba(200,215,220,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(242,245,246,1) 0%,rgba(227,234,237,1) 37%,rgba(200,215,220,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(242,245,246,1) 0%,rgba(227,234,237,1) 37%,rgba(200,215,220,1) 100%); /* IE10+ */
    background: linear-gradient(top,  rgba(242,245,246,1) 0%,rgba(227,234,237,1) 37%,rgba(200,215,220,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f5f6', endColorstr='#c8d7dc',GradientType=0 ); /* IE6-8 */

    border:1px solid #aaa;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
	box-shadow: 1px 1px 6px #888888;
}

._bf_itemdiscussions_arrow_up
{
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid #aaa;
    position: absolute;
    left: 23px;
    top: 72px;
}

._bf_itemdiscussions_arrow_up:after
{
    content: ' ';
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid #F2F5F6;
    position: absolute;
    left: -15px;
    top: 1px;
}

._bf_itemreviews_avatarholder,
._bf_itemdiscussions_item_avatarholder,
._bf_itemreviews_item_useravatar,
._bf_itemdiscussions_item_useravatar
{
    height:50px;
    width:50px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 30px;
}

._bf_itemreviews_avatarholder,
._bf_itemdiscussions_item_avatarholder
{
    border:2px solid #fff;
    position:absolute;
    left:20px;
    top:20px;
    -webkit-box-shadow: 1px 1px 3px rgba(90, 90, 90, 2);
    -moz-box-shadow:    1px 1px 3px rgba(90, 90, 90, 2);
    box-shadow:         1px 1px 3px rgba(90, 90, 90, 2);    
    margin:0px 0px 20px 0px;
    padding:0px 0px 0px 0px;   
}

._bf_itemdiscussions_item_avatarholder
{
    left:10px;
    top:8px;
}

._bf_itemreviews_arrow_left
{
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid #aaa;
    position: absolute;
    left: 79px;
    top: 34px;   
}
._bf_itemreviews_arrow_left:after
{
    content: ' ';
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid #F8FBED;
    left: 1px;
    position: absolute;
    top: -15px;
    z-index: 1;
}

._bf_itemdiscussions_arrow_right
{
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid #aaa;
    position: absolute;
    left: 69%;
    top: 7px;
}

._bf_itemdiscussions_arrow_right:after
{
    content: ' ';
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid #F8FBED;
    left: -16px;
    position: absolute;
    top: -15px;
    z-index: 1;
}


._bf_itemdiscussions_item_comment_avatarholder,
._bf_itemdiscussions_item_comment_useravatar
{
    height:40px;
    width:40px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 30px;
}

._bf_itemdiscussions_item_comment_avatarholder
{
    border:2px solid #fff;
    position:absolute;
    left:562px;
    top:0px;
    -webkit-box-shadow: 1px 1px 3px rgba(90, 90, 90, 2);
    -moz-box-shadow:    1px 1px 3px rgba(90, 90, 90, 2);
    box-shadow:         1px 1px 3px rgba(90, 90, 90, 2);    
    margin:0px 0px 20px 0px;
    padding:0px 0px 0px 0px;   
}

._bf_itemreviews_item_username,
._bf_itemdiscussions_item_username,
._bf_itemdiscussions_item_comment_username
{
    position:absolute;
    left:97px;
    top:20px;
    color:#888;
    font-weight:bold;
    font-size:11px;
    font-family: arial;
    margin:0px 0px 0px 0px;
    padding:0px 0px 0px 0px;
}

._bf_itemreviews_item_username
{
    left:97px;
    bottom:16px;   
    top:auto;
}

._bf_itemdiscussions_item_username
{
    left:90px;
}

._bf_itemdiscussions_item_comment_username
{
    position:absolute;
    left:615px;
    top:0px;
}

._bf_itemreviews_item_username em,
._bf_itemdiscussions_item_username em
{
    font-size:10px;
    font-weight: normal;
}

._bf_itemreviews_item_rating
{
    position:absolute;
    left:110px;
    top:35px;
    margin:0px 0px 0px 0px;
    padding:0px 0px 0px 0px;
}

._bf_itemreviews_item_posted,
._bf_itemdiscussions_item_posted,
._bf_itemdiscussions_item_comment_posted
{
    position:absolute;
    left:100px;
    bottom:20px;
    font-size:10px;
    color:#999;
    margin:0px;
    padding:0px;
    height:10px;
}

._bf_itemdiscussions_item_posted
{
    top:40px;
    left:90px;
}

._bf_itemdiscussions_item_comment_posted
{
    left:615px;
    top:23px;
}

._bf_itemreviews_media
{
    position:absolute;
    right:20px;
    top:5px;
}

._bf_itemreviews_media_item
{
    -webkit-box-shadow: 1px 1px 3px rgba(90, 90, 90, 2);
    -moz-box-shadow:    1px 1px 3px rgba(90, 90, 90, 2);
    box-shadow:         1px 1px 3px rgba(90, 90, 90, 2);    

    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;

    margin:0px 0px 0px 10px;
    border:2px solid #fff;
}

._bf_itemreviews_media_item:hover
{
    -webkit-box-shadow: 1px 1px 3px rgba(10, 10, 10, 2);
    -moz-box-shadow:    1px 1px 3px rgba(10, 10, 10, 2);
    box-shadow:         1px 1px 3px rgba(10, 10, 10, 2);
}

._bf_itemdiscussions_item_reply_button
{
    position:absolute;
    right:30px;
    bottom:24px;
}


._bf.clear
{
    float:left;
    clear:both;
}

._expander_more_link
{
    clear: both;
    cursor: pointer;
    display: block;
    left: 0;
    position: relative;
    top: 20px;
}

._expander_more_link:hover
{
    color:#333;
}

._bf_social_bookmarks
{
    position:absolute;
    bottom:10px;
    right:20px;
}

._bf_social_bookmarks_likes
{
    margin:0px;
    padding:0px;    
}

span._bf_social_bookmark
{
    margin:3px 0px 0px 0px;
    padding:0px;
}


/*
WIDGETS
*/
._bf_widgets_holder
{
    margin:30px 0px 30px 0px;
    padding:0px 0px 0px 0px;
    width:100%;
}

._bf_widgets_controller
{
    margin:0px 0px 0px 0px;
    padding:0px 0px 0px 0px;
    float:left;
    width:100%;
}


._bf_widgets
{
    float:left;
    clear:both;
    margin:30px 0px 30px 0px;
    padding:0px 0px 0px 0px;
    width:100%;
}

._bf_widget_buttons
{
    float:left;
    margin:0px 0px 0px 0px;
    padding:0px 0px 0px 0px;
    list-style:none;
}

._bf_widget_button_holder
{
    display:inline;
    float:left;
}

._bf_widget_button
{
    color: #8f5a0a;
    font:bold 13px Helvetica, Arial, sans-serif;
    padding-top: 10px;
    padding-right: 15px;
    padding-bottom: 10px;
    padding-left: 15px;
    margin:0px 20px 0px 0px;
    cursor:pointer;
    text-decoration: none;
    
    background-color: #ffb94b;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fddb6f), to(#ffb94b));
    background-image: -webkit-linear-gradient(top, #fddb6f, #ffb94b);
    background-image: -moz-linear-gradient(top, #fddb6f, #ffb94b);
    background-image: -ms-linear-gradient(top, #fddb6f, #ffb94b);
    background-image: -o-linear-gradient(top, #fddb6f, #ffb94b);
    background-image: linear-gradient(top, #fddb6f, #ffb94b);

    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;

    text-shadow: 0 1px 0 rgba(255,255,255,0.5);

     -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
     -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
     box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;

    border-width: 1px;
    border-style: solid;
    border-color: #d69e31 #e3a037 #d5982d #e3a037;

}

._bf_widget_button_disabled
{
    color: #bbb;
    font:bold 13px Helvetica, Arial, sans-serif;
    padding-top: 10px;
    padding-right: 15px;
    padding-bottom: 10px;
    padding-left: 15px;
    margin:0px 20px 0px 0px;
    cursor:pointer;
    text-decoration: none;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border: solid #bbb 1px;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#e8e8e8), to(#ccc));
    background: -moz-linear-gradient(top, #e8e8e8, #ccc);
    text-shadow: 1px 1px 1px #fff;
}


._bf_widget_button:hover {
    color: #7C4400;
    background-color: #fddb6f;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ffb94b), to(#fddb6f));
    background-image: -webkit-linear-gradient(top, #ffb94b, #fddb6f);
    background-image: -moz-linear-gradient(top, #ffb94b, #fddb6f);
    background-image: -ms-linear-gradient(top, #ffb94b, #fddb6f);
    background-image: -o-linear-gradient(top, #ffb94b, #fddb6f);
    background-image: linear-gradient(top, #ffb94b, #fddb6f);
}

._bf_widget_socials
{
    display:inline;
    float:right;
}

